@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
  font-family: Berylium;
  src: url('./fonts/berylium-rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Berylium;
  src: url('./fonts/berylium-rg-it.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Berylium;
  src: url('./fonts/berylium-bd.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Berylium;
  src: url('./fonts/berylium-bd-it.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #f9cf87;
  background-color: #101524;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'berylium';
  color: #a40239;
}

h2.title {
  font-size: 4em;
}

.title {
  position: relative;
  text-align: center;
}

.title::before,
.title::after {
  content: '';
  position: relative;

  vertical-align: middle;
  height: 3px;
  width: 10%;
  line-height: 4.5em;
  display: inline-block;
}

.title::before {
  background: linear-gradient(
    to right,
    rgba(164, 2, 57, 0),
    rgba(164, 2, 57, 0.5)
  );
  right: 0.25em;
  margin-left: -50%;
}

.title::after {
  background: linear-gradient(
    to left,
    rgba(164, 2, 57, 0),
    rgba(164, 2, 57, 0.5)
  );
  left: 0.25em;
  margin-right: -50%;
}
